<!DOCTYPE html>
<html>
<head>
    <title>Обмен сообщениями в режиме реального времени</title>
</head>
<body>
    <p>@Html.ActionLink("Скачать клиентские приложения Windows Forms и Android.Apk", "GetFiles", "Home")</p>
    <p>@Html.ActionLink("Перейти в режим рисования", "Paint", "Home")</p>
    <br />
    <div>
        <label for="name">Имя:</label>
        <input type="text" id="name" />
    </div>
    <br />
    <div id="inputForm">
        <label for="message">Сообщение:</label>
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Отправить" />
    </div>
    <br />
    <p><b>Сообщения:</b></p>
    <div id="messages"></div>

    <!-- Ссылка на VueJs -->
    <script src="~/Scripts/vue.min.js"></script>

    <!-- Ссылка на библиотеку jQuery, поскольку скрипт SignalR имеет зависимости от jQuery -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <!-- Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>

    <!-- Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            // Ссылка на автоматически-сгенерированный прокси хаба
            var chat = $.connection.myHub;

            // Открываем соединение
            $.connection.hub.start().done(function () {

                // При нажатии кнопки "Отправить"
                $('#sendmessage').click(function () {
                    chat.server.sendMessageServer($('#name').val(), $('#message').val());  // Вызываем у хаба метод SendMessageServer
                    $('#message').val('');                               // Очищаем текстовое поле
                });

            });

            // Функция, которую вызывает хаб
            chat.client.sendMessageClient = function (name, message) {

                // Добавление сообщений на веб-страницу
                $('#messages').append('<p><b>' + name + ':</b> ' + message + '</p>');
            };
        });
    </script>

</body>
</html>