@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Обмен сообщениями в режиме реального времени</title>
</head>
<body>
    <p>@Html.ActionLink("Скачать клиент Windows Forms", "GetFiles", "Home")</p>
    <p>@Html.ActionLink("Перейти в режим рисования", "Paint", "Home")</p>
    
    <div id="inputForm">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Отправить" />
    </div>    
    <p><b>Сообщения</b></p>    
    <div id="messages"></div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>

    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            // Ссылка на автоматически-сгенерированный прокси хаба
            var chat = $.connection.myHub;

            // Открываем соединение
            $.connection.hub.start().done(function () {

                // При нажатии кнопки "Отправить"
                $('#sendmessage').click(function () {
                    chat.server.sendMessageServer($('#message').val());  // Вызываем у хаба метод SendMessageServer
                    $('#message').val('');                               // Очищаем текстовое поле
                });

            });

            // Функция, которую вызывает хаб
            chat.client.sendMessageClient = function (message) {

                // Добавление сообщений на веб-страницу
                $('#messages').append('<p>' + message + '</p>');
            };            
        });
    </script>

</body>
</html>